<form id="logo_in" class="upload" action="/" method="post" enctype="multipart/form-data">
  <div class="control-group">
    [% IF c.stash.uploaded %]
    <label for="previous" class="control-label">Re-use the previously uploaded file</label>
    <div class="controls">
      <input id="previous" data-type="[% c.stash.upload_type %]"  type="hidden" name="previous" value="[% c.stash.uuid %]"/>
    </div>
    <div> - or - </div>
    [% END %]
    <label for="file" class="control-label">Upload an HMM or Multiple sequence alignment
        <a class="help" href="/help#upload" title="Skylign accepts profile HMMs in HMMER format, and sequence alignments in a wide variety of formats including Stockholm and aligned fasta">
        <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a></label>
    <div class="controls">
      <input id="file_upload" type="file" name="file"/>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 processing">
      <div class="control-group">
        <div class="controls">
          <fieldset>
            <legend>Alignment Processing</legend>
            <label class="radio">
              <input type="radio" id="observed_process" name="processing" value="observed" [% IF c.req.params.processing == "observed" || !c.req.params.processing %]checked="checked"[% END %] />Use Observed Counts
                 <a class="help" href="/help#est_observed" title="Letter stacks and gap values depend on estimated distributions for each position. Estimate those distributions directly from observed frequencies.">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
            <label class="radio">
              <input type="radio" id="weighted_process" name="processing" value="weighted" [% IF c.req.params.processing == "weighted" %]checked="checked"[% END %] />Use Weighted Counts
                 <a class="help" href="/help#est_weighted" title="Letter stacks and gap values depend on estimated distributions for each position. Redundant sequences are downweighted, and distributions are estimated from frequencies computed using those sequence weights.">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
            <label class="radio">
              <input type="radio" id="hmm_all_process" name="processing" value="hmm_all" [% IF c.req.params.processing == "hmm_all" %]checked="checked"[% END %] />Create HMM - keep all columns
                 <a class="help" href="/help#est_hmm" title="Letter stacks and gap values depend on estimated distributions for each position. Use HMMER to estimate those distributions by applying sequence weights, absolute weights, and a Dirichlet mixture prior.">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
            <label class="radio">
              <input type="radio" id="hmm_process" name="processing" value="hmm" [% IF c.req.params.processing == "hmm" %]checked="checked"[% END %] />Create HMM - remove mostly-empty columns
                 <a class="help" href="/help#est_hmm_all" title="Letter stacks and gap values depend on estimated distributions for each position. Use HMMER to estimate those distributions by applying sequence weights, absolute weights, and a Dirichlet mixture prior.">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 processing">
      <div class="control-group">
        <div class="controls">
          <fieldset>
            <legend>Fragment Handling</legend>
            <label class="radio">
              <input type="radio" id="frag_full" name="frag" value="full" [% IF !c.req.params.frag || c.req.params.frag == "full" %]checked="checked"[% END %] />Alignment sequences are full length
                 <a class="help" href="/help#frag_full" title="">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
            <label class="radio">
              <input type="radio" id="frag_frag" name="frag" value="frag" [% IF c.req.params.frag == "frag" %]checked="checked"[% END %] />Some sequences are fragments
                 <a class="help" href="/help#frag_frag" title="">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="control-group">
        <div class="controls">
          <fieldset>
            <legend>Letter Height</legend>
            <label class="radio">
              <input type="radio" id="emission_calc" name="letter_height" value="info_content_all" [% IF !c.req.params.letter_height || c.req.params.letter_height == "info_content_all" %]checked="checked"[% END %] />Information Content - All
                 <a class="help" href="/help#height_infocontent_all" title="Stack height of each position is that position's information content. All letters are shown, subdividing stack height according to estimated letter probability.">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
            <label class="radio">
              <input type="radio" id="posscore_calc" name="letter_height" value="info_content_above" [% IF c.req.params.letter_height == "info_content_above" %]checked="checked"[% END %] />Information Content - Above Background
                 <a class="help" href="/help#height_infocontent_above" title="Stack height of each position is that position's information content. Positive-scoring (above background frequency) letters are shown, subdividing stack height according to estimated letter probability.">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
            <label class="radio">
              <input type="radio" class="model_calc" name="letter_height" value="score" [% IF c.req.params.letter_height == "score" %]checked="checked"[% END %] />Score
                 <a class="help" href="/help#height_score" title="In each position, letter height is the score of that letter at that position. Only positive-scoring letters are shown. Stack height has no inherent meaning.">
                 <span aria-hidden="true" data-icon="?"></span><span class="reader-text">help</span></a>
            </label>
          </fieldset>
        </div>
      </div>
    </div>
  </div>


  <div class="control-group">
    <div class="controls">
      <input class="btn btn-primary" type="submit" class="button" value="Generate Logo"/>
      <input type="reset" class="button btn-mini"/>
    </div>
  </div>
</form>
