<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>[% c.stash.title || 'LogoServer' %]</title>
	<meta name="description" content="">
	<meta name="author" content="Jody Clements">

	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet/less" type="text/css" href="/static/css/main.less">

  [% IF c.request.action == 'logo/example' %]
  <link rel="stylesheet" href="/static/css/joyride-2.1.css">
  [% END %]

  <script src="/static/js/libs/less.js" type="text/javascript"></script>
	<script src="/static/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

  <header role="banner" class="ie_clearfix plastic">
    <h1><a href="/">Skylign</a></h1>
    <div class="stripe" id="stripe1"></div>
    <div class="stripe" id="stripe2"></div>
    <div class="stripe" id="stripe3"></div>
    <div class="stripe" id="stripe4"></div>
    <div class="stripe" id="stripe5"></div>
    <div class="stripe" id="stripe6"></div>
  </header>
  <div class="nav">
    <a href="/">Home</a> | <a href="/help">Help</a>
    <div class="stripe" id="stripe1"></div>
    <div class="stripe" id="stripe2"></div>
    <div class="stripe" id="stripe3"></div>
    <div class="stripe" id="stripe4"></div>
    <div class="stripe" id="stripe5"></div>
    <div class="stripe" id="stripe6"></div>
  </div>
  [% IF c.stash.error || c.stash.message -%]
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="offset1 span10">
        <div id="message" class="alert alert-error">
          [% FOR error IN c.stash.error -%]
            [% IF error.safe %]
              [% FOR message IN error.value %]
                <span id="[% error.id %]">[% message %]</span>
              [% END %]
            [% ELSE %]
              [% FOR message IN error.value %]
                <span id="[% error.id %]" >[% message | html %]</span>
              [% END %]
            [% END -%]
          [% END -%]
          [% IF c.stash.message %]
            <p>[% c.stash.message %]</p>
          [% END %]
        </div>
      </div>
    </div>
  </div> <!--! end of #container -->
  [% END %]

  <div id="content" class="clearfix">
    [%- content -%]
  </div>

  <footer>
  </footer>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.10.1.min.js"><\/script>')</script>

  [% IF c.request.action == 'logo/example' %]
  <script src="/static/js/jquery.joyride-2.1.js"></script>
  [% END %]
  <script src="/static/js/scroller.js"></script>
  <script src="/static/js/hmm_logo.js"></script>
  <script src="/static/js/carousel.js"></script>
  <script src="/static/js/application.js"></script>


</body>
</html>
