<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>Logo Help</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3 sidebar">
      <ul>
        <li><a href="#logo">What is a logo?</a></li>
        <li>
          <a href="#logo_details">What is shown in a logo?</a>
          <ul>
          <li><a href="#letter_cons">Letter conservation</a></li>
          <li><a href="#gap_params">Gap parameters</a></li>
          </ul>
        </li>

        <li><a href="#upload">Uploading a file</a></li>
          <ul>
            <li><a href="#profile_hmm">Profile HMM</a></li>
            <li><a href="#alignment">Alignment</a></li>
          </ul>
        <li><a href="#api_docs">API Dcoumentation</a></li>
        <li><a href="#api_use">Using the API</a></li>
        <li><a href="#logo_usage">Using the Logo Elsewhere</a></li>
        <li><a href="#install">Installing the Server</a></li>
        <li><a href="#cite">Citing Skylign</a></li>
      </ul>
    </div>
    <div class="span9">
      <h2 id="logo">What is a logo?</h2>
      <p>
        Logos are commonly used in molecular biology to provide a compact
        graphical representation of the conservation pattern of a set of
        sequences. They render the information contained in sequence
        alignments or profile hidden Markov models by drawing a stack of
        letters for each position, where
        <ul>
          <li>
          the height of the stack typically corresponds to the
          conservation at that position, and
          </li>
          <li>
          the height of each letter within a stack depends on the
          frequency of that letter at that position.
          </li>
        </ul>
      </p>
      <h2 id="logo_details">What is shown in a logo?</h2>
      <h3 id="letter_cons">Letter conservation</h3>
      <p>
        The per-positon probabilities underlying the letter stack
        calculations are estimates of those per-position distributions
        across the family of homologous sequences. In the case of
        rendering a logo for a profile HMM, those estimates are taken
        directly from the HMM. When rendering a logo for a sequence
        alignment, Skylign enables calculation of these estimates
        (a) directly from frequencies observed in the alignment,
        (b) from observed counts after assigning sequence weights to
        account for sequence redundancy, or (c) after assigning weights
        and combining with a Dirichlet mixture prior. These options are
        implemented using HMMER (<a href="http://hmmer.org">http://hmmer.org</a>).
      </p>
      <p>
        Skylign offers three ways of calculating letter- and stack-heights
        for each column of the underlying alignment:
        <ul>
          <li id="height_infocontent_all">
            <b>Information content - all</b> :
            Stack height is the <i>information content</i>
            (aka relative entropy) of the position,
            and letters divide that height according to their estimated
            probability.  This is default, and is the way logo letter
            stacks are typically computed in other tools.
          </li>
          <li id="height_infocontent_above">
            <b>Information content - above background</b> :
            Stack height is the <i>information content</i> of the position,
            and only positive-scoring letters are included in the stack -
            the height of the stack is subdivided according to the relative
            probabilities of those positive scoring letters. This reduces
            the noisy mash of letters at the bottom of logos when strong
            priors are mixed with observed counts (as with HMMER 3.1 profile
            HMMs).
          </li>
          <li id="height_score">
            <b>Score</b> :
            The height of each letter depends on that letter’s score, and
            only positive-scoring letters are included in the stack. The
            height of a stack does not have any inherent meaning in this case.
          </li>
        </ul>
      </p>

      <h3 id="gap_params">Gap parameters</h3>
      <p>
        In addition to representing the per-position letter
        distribution, Skylign renders position-specific gap
        parameters. It does this by presenting three values for each
        position k:
        <ul>
          <li>
          Insert probability: the probability of observing one or more letters inserted between the letter corresponding to position k and the letter corresponding to position (k+1).
	      </li>
	      <li>
          Insert length: the expected length of an insertion following position k, if one is observed.
	      </li>
	      <li>
          Occupancy: the probability of observing a letter at position k. If we call this value occ(k), the probability of observing a gap character (part of a deletion relative to the model) is 1- occ(k).
          </li>
        </ul>
        These parameters are represented by three rows of numerical
        values placed below the letter stacks of the logo, with a heat
        map laid over the top of each value to provide a visual aid.
      </p>

      <h3 id="scale">Scale</h3>
      Skylign allows you to scale the logo so that the maximum value on the
      Y-axis corresponds to:
      <ul>
        <li><b id="scale_obs">Maximum Observed</b>: largest observed information content (in bits)</li>
        <li><b id="scale_theory">Consensus Colors</b>: largest possible information content (in bits)</li>
      </ul>

      <h3 id="colors">Color Schemes</h3>
      <ul>
        <li><b id="colors_default">Default</b> : A unique color is assigned to each amino acid or nucleotide residue.</li>
        <li><b id="colors_consensus">Consensus Colors</b> : The residues are colored according to the ClustalX coloring scheme:
          <dl class="consensus_colors">
            <dt class="con_o">&nbsp;</dt>
            <dd>Glycine (G)</dd>
            <dt class="con_y">&nbsp;</dt>
            <dd>Proline (P)</dd>
            <dt class="con_b">&nbsp;</dt>
            <dd>Small or hydrophobic (A,V,L,I,M,F,W)</dd>
            <dt class="con_g">&nbsp;</dt>
            <dd>Hydroxyl or amine amino acids (S,T,N,Q)</dd>
            <dt class="con_r">&nbsp;</dt>
            <dd>Charged amino-acids (D,E,R,K)</dd>
            <dt class="con_c">&nbsp;</dt>
            <dd>Histidine or tyrosine (H,Y)</dd>
          </dl>
        </li>
      </ul>
      <h3 id="coordinates">Coordinates</h3>
      <p>When building a logo for an input alignment, Skylign produces an
      intermediate HMM. If this is done with the 'remove mostly-empty
      columns' setting, or if an HMM is uploaded directly, positions in the
      HMM may differ from the corresponding columns in the associated
      alignment. In this case, choose from the following:</p>
      <ul>
        <li id="coords_model">
          <b>Model:</b> The coordinates along the top of the plot show the model position.
        </li>
        <li id="coords_ali">
          <b>Alignment:</b> The coordinates along the top of the plot show the column
          in the alignment associated with the corresponding position in the
          model.
        </li>
      </ul>




      <h3 id="more_details">More details</h3>
      <p> This description leaves many details unexplained. Please
      see Skylign paper for details.
      </p>

      <h2 id="upload">Uploading a file</h2>
      <p>
      Skylign will compute a logo for a profile HMM or for a sequence
      alignment
      </p>
      <h3 id="profile_hmm">Profile HMM</h3>
      <p>
      Skylign accepts HMMER-formatted profile HMM files.
      Producing a profile logo is a straightforward business:
      Skylign reads the estimated per-position distributions from the
      HMM file and uses them to compute stack heights and gap values.
      The submission form requires selection of preferred method for
      computing letter and stack heights.
      </p>

      <h3 id="alignment">Alignment</h3>
      <p>
      Skylign accepts sequence alignments in any format accepted
      by HMMER (this includes Stockholm and aligned fasta format).
      Producing an alignment logo requires selection of the preferred
      method of estimating per-column parameters from the observed
      frequencies in the alignment (Alignment Processing):
        <ul>
          <li id="est_observed">
          <b>Observed counts</b>: For each column, use the maximum-likelihood
          estimate - the observed counts.
	      </li>
	      <li id="est_weighted">
          <b>Weighted counts</b>: For each column, use the maximum-likelihood
          estimate after applying weights to each sequence to account
          for high similarity in a subset of sequences.
	      </li>
	      <li id="est_hmm">
          <b>Convert to profile HMM - keep all columns</b>:
          Apply sequence weights, and also combine with a Dirichlet mixture
          prior (incorporating absolute weighting to control relative
          contribution of observed counts and prior). Keeping all columns
          means that even columns in the alignment that mostly consist of
          gap characters will be represented by positions in the logo.
          </li>
          <li id="est_hmm_all">
          <b>Convert to profile HMM - keep mostly-empty columns</b>:
          Apply sequence weights, and also combine with a Dirichlet mixture
          prior (incorporating absolute weighting to control relative
          contribution of observed counts and prior). Keeping mostly-empty
          columns means that only columns in the alignment that mostly
          (after weighting) consist of non-gap characters will be represented
          by positions in the logo.
          </li>
        </ul>

      In some cases, an alignment may consist of fragmentary sequences
      (for instance, because of short sequencing reads). In this case,
      you may prefer not to count terminal gaps as deletions, instead
      simply ignoring terminal gaps for short (fragmentary) sequences.
      These options control this behavior:
        <ul>
          <li id="#frag_full">
          <b>Alignment sequences are full length</b>:
          Count all terminal gaps as deletions.
	      </li>
	      <li id="frag_frag">
          <b>Some sequences are fragments</b>:
          When a sequence is a fragment (less than half the length of
          the alignment), its terminal gaps are not considered when
          counting a column's deletions.
	      </li>
        </ul>

      In addition to estimation method, the stack/letter height method
      must also be chosen,
      as <a href="#height_infocontent_all">with profile logos</a>.
      </p>

      <p>
      Note: in older browsers, it is not
      possible to discern an HMM file from an alignment file, so the
      "Alignment Processing" option will be shown even for an uploaded
      profile HMM. Simply select "Convert to an HMM".
      </p>

      <h3 id="api_docs">API Documentation</h3>
      <p>All documentation for the resources made available by the REST API can be found on the <a href="/help/api">REST API Documentation</a> pages.</p>
      <h2 id="api_use">Using the API</h2>
      <h3>Creating a logo</h3>
      <p>The first thing you will need to do is upload your alignment or hmm file to our server.</p>
      <pre class="code">curl -H 'Accept:application/json' -F file='@hmm'&nbsp;-F&nbsp;processing=hmm&nbsp;http://skylign.org</pre>
      <p> If something went wrong then a 400 response will be returned.</p>

      <pre class="code">
<span class="hilight"># Request</span> missing the file upload.
curl -H 'Accept:application/json' -F processing=hmm http://skylign.org

<span class="hilight"># Response</span>
{
  "error" : {
    "upload" : "Please choose an alignment or HMM file to upload."
  }
}
      </pre>
      <p>If the upload was successful you will receive an <strong>HTTP 200</strong> response with the location of your logo in the payload</p>
      <pre class="code">
{
  "url":"<span class="hilight">http://skylign.org:8000/logo/6BBFEB96-E7E0-11E2-A243-DF86A4A34227</span>",
  "uuid":"6BBFEB96-E7E0-11E2-A243-DF86A4A34227",
  "message":"Logo generated successfully"
}
      </pre>

      <h3>Retrieving the logo</h3>
      <p>With the response in hand you can use the returned url to fetch your logo.</p>
      <pre class="code">
<span class="hilight"># Request</span>
curl -H 'Accept:image/png' http://skylign.org/logo/6BBFEB96-E7E0-11E2-A243-DF86A4A34227 > 6BBFEB96-E7E0-11E2-A243-DF86A4A34227.png

<span class="hilight"># Response</span>

<img src="/static/gfx/example_logo.png" alt="hmm logo"/>
      </pre>
      <h3>Retrieving the raw data</h3>
      <p>If you would like to get the JSON used in the javascript logo, then you can get to that by requesting a JSON repsonse.
      Go to the <a href="/help/api/get/logo/:uuid">GET /logo/:uuid</a> page to see the other download formats that are available. </p>
      <pre class="code">
<span class="hilight"># Request</span>
curl -H 'Accept:application/json' http://skylign.org/logo/6BBFEB96-E7E0-11E2-A243-DF86A4A34227

<span class="hilight"># Response</span>
{
  "mmline":[0,0,0,0,0,0,0,0],
  "max_height_obs": 5.337,
  "max_height_theory": 6.45311498641968,
  "delete_probs":[0,0,0,0,0,0,0,0],
  "height_arr":[
    [
      "V:0.001","M:0.001","C:0.001","W:0.001","I:0.001",
      "S:0.002","T:0.002","N:0.002","K:0.002","Q:0.002",
      "F:0.003","Y:0.003","E:0.003","L:0.003","A:0.003",
      "P:0.003","D:0.003","R:0.003","G:0.006","H:5.292"
    ],
    [
      "Q:0.001","W:0.001","H:0.001","N:0.002","K:0.002",
      "Y:0.002","E:0.002","C:0.002","P:0.002","D:0.002",
      "R:0.002","S:0.003","F:0.004","T:0.004","M:0.004",
      "G:0.004","A:0.006","L:0.016","V:0.027","I:3.757"
    ],
    [
      "Y:0.001","M:0.001","W:0.001","F:0.002","Q:0.002",
      "H:0.002","I:0.002","K:0.003","E:0.003","C:0.003",
      "L:0.003","D:0.003","R:0.003","N:0.004","V:0.005",
      "P:0.005","T:0.01","G:0.011","A:0.018","S:3.562"
    ],
    [
      "Y:0.001","M:0.001","W:0.001","F:0.002","Q:0.002",
      "H:0.002","I:0.002","K:0.003","E:0.003","C:0.003",
      "L:0.003","D:0.003","R:0.003","N:0.004","V:0.005",
      "P:0.005","T:0.01","G:0.011","A:0.018","S:3.562"
    ],
    [
      "Y:0.001","W:0.001","F:0.002","M:0.002","H:0.002",
      "K:0.003","Q:0.003","I:0.003","E:0.004","C:0.004",
      "L:0.004","D:0.004","R:0.004","N:0.006","V:0.007",
      "G:0.015","S:0.023","A:0.028","P:0.416","T:2.819"
    ],

    [
      "N:0.002","W:0.002","H:0.002","D:0.002","K:0.003",
      "E:0.003","Q:0.003","P:0.003","R:0.003","G:0.003",
      "C:0.004","S:0.005","Y:0.005","T:0.01","A:0.013",
      "F:0.021","V:0.069","L:0.126","I:0.915","M:2.357"
    ],

    [
      "F:0.001","Y:0.001","M:0.001","C:0.001","W:0.001",
      "H:0.001","I:0.001","K:0.002","V:0.002","Q:0.002",
      "L:0.002","R:0.002","T:0.003","P:0.003","S:0.004",
      "E:0.004","A:0.005","D:0.005","G:0.006","N:4.409"
    ],

    [
      "M:0","F:0.001","N:0.001","K:0.001","Y:0.001",
      "V:0.001","Q:0.001","C:0.001","W:0.001","H:0.001",
      "I:0.001","S:0.002","T:0.002","E:0.002","L:0.002",
      "P:0.002","D:0.002","R:0.002","A:0.003","G:3.733"
    ]
  ],
  "insert_lengths": [2,2,2,2,2,2,2,0],
  "insert_probs":[0,0,0,0,0,0,0,0]
}
      </pre>

      [% INCLUDE 'components/logo_usage.tt' %]

      <h2 id="install">Installing the Server</h2>
      <p>Skylign can be downloaded and installed as a stand alone web server. Details on
      obtaining the source code and dependencies can be found on the <a href="/help/install">install</a> page.</p>

      <h2 id="cite">Citing Skylign</h2>
      <p>
      Please cite: Wheeler, T.J., Clements, J., Finn, R.D.
      Skylign: a tool for creating informative, interactive logos
      representing sequence alignments and profile hidden Markov models.
      2013. Submitted.
      </p>

    </div>

  </div>
</div>
