<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <a href="/help/api">REST API</a> &rarr; <a href="/help/api/post">POST /</a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2> POST /</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>URL:</h3>
      <p>http://sklign.org/</p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Parameters:</h3>


      <table class="parameters">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>file</strong><br/> <span class="small subtle">required</span></td>
            <td>
              <p>A single file that will be converted into a logo. It should be either a profile HMM or a multiple sequence alignment in one of the following accepted formats:</p>
              <ul>
                <li>Aligned FASTA</li>
                <li>Clustal (and Clustal-like)</li>
                <li>PSI-BLAST</li>
                <li>PHYLIP</li>
                <li>Selex</li>
                <li>GCG/MSF</li>
                <li>STOCKHOLM format</li>
                <li>UC Santa Cruz A2M (alignment to model)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><strong>processing</strong><br/> <span class="small subtle">optional</span></td>
            <td>
              <p>The type of post processing to be performed on an alignment:</p>
              <ul>
                <li>observed - </li>
                <li>weighted - </li>
                <li>hmm - </li>
              </ul>
              <strong>Default:</strong> hmm
            </td>
          </tr>
          <tr>
            <td><strong>letter_height</strong><br/> <span class="small subtle">optional</span></td>
            <td>
              <p>Which height calculation algorithm should be used during logo generation. There are three different algorithms to choose from:</p>
              <ul>
                <li>entropy_all - </li>
                <li>entropy_above - </li>
                <li>score - </li>
              </ul>
              <strong>Default:</strong> entropy_all
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Repsonse Formats:</h3>
      <p class="small">JSON, XML, YAML, Text, HTML</p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Example:</h3>
      <p>POST http://skylign.org/</p>
      <pre class="code">
<span class="hilight"># Request</span>
curl -H 'Accept:application/json' -F file='@test.hmm' http://skylign.org/

<span class="hilight"># Response</span>
{
  "url":"http://skylign.org/logo/6BBFEB96-E7E0-11E2-A243-DF86A4A34227",
  "uuid":"6BBFEB96-E7E0-11E2-A243-DF86A4A34227",
  "message":"Logo generated successfully"
}
</pre>
    </div>
  </div>
